## How to Hack your Dating App

Group members: Alison Picerno, Simone Ritchenson, Arielle Greenberg, Vivian Weigel

In [1]:
import pandas as pd

# read in data and look at head to get a sense of data
df = pd.read_csv('lovoo_users.csv')
df.head()

,gender,genderLooking,age,name,counts_details,counts_pictures,counts_profileVisits,counts_kisses,counts_fans,counts_g,...,shareProfileEnabled,lastOnlineDate,lastOnlineTime,birthd,crypt,freetext,whazzup,userId,pictureId,isSystemProfile
0,F,M,25,daeni,1.00,4,8279,239,0,3,...,1,2015-04-25T20:43:26Z,1.429995e+09,0,NaN,Nur tote Fisch schwimmen mit dem Strom,Nur tote fische schwimmen mit dem strom,4e3842f79b70e7ea57000064,55303fc3160ba0eb728b4575,NaN
1,F,M,22,italiana 92,0.85,5,663,13,0,0,...,1,2015-04-26T09:19:35Z,1.430040e+09,0,NaN,NaN,Primaveraaa<3,4e3d34bf5d2bce7b160006a3,552e7b61c66da10d1e8b4c82,NaN
2,F,M,21,Lauraaa,0.00,4,1369,88,0,2,...,1,2015-04-06T14:24:07Z,1.428330e+09,0,NaN,NaN,NaN,4ec96c090dc82cb25d00000a,54a584ecc56da128638b4674,NaN
3,F,none,20,Qqkwmdowlo,0.12,3,22187,1015,2,3,...,1,2015-04-07T11:21:01Z,1.428406e+09,0,NaN,NaN,Je pense donc je suis. Instagram quedev,4eef8b81ebf2c8f64000000c,54c92738076ea1b5338b4735,NaN
4,F,M,21,schaessie {3,0.15,12,35262,1413,9,12,...,1,2015-04-06T14:25:20Z,1.428330e+09,0,NaN,NaN,Instagram: JESSSIESCH,4ef3cc5aa9d0b3d07d000017,54e1a6f6c76da135748b4a3a,NaN

In [2]:
# look at types of data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3992 entries, 0 to 3991
Data columns (total 42 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   gender                  3992 non-null   object
 1   genderLooking           3992 non-null   object
 2   age                     3992 non-null   int64
 3   name                    3992 non-null   object
 4   counts_details          3992 non-null   float64
 5   counts_pictures         3992 non-null   int64
 6   counts_profileVisits    3992 non-null   int64
 7   counts_kisses           3992 non-null   int64
 8   counts_fans             3992 non-null   int64
 9   counts_g                3992 non-null   int64
 10  flirtInterests_chat     3992 non-null   bool
 11  flirtInterests_friends  3992 non-null   bool
 12  flirtInterests_date     3992 non-null   bool
 13  country                 3992 non-null   object
 14  city                    3706 non-null   object
 15  location                3979 non-null   object
 16  distance                3946 non-null   float64
 17  isFlirtstar             3992 non-null   int64
 18  isHighlighted           3992 non-null   int64
 19  isInfluencer            3992 non-null   int64
 20  isMobile                3992 non-null   int64
 21  isNew                   3992 non-null   int64
 22  isOnline                3992 non-null   int64
 23  isVip                   3992 non-null   int64
 24  lang_count              3992 non-null   int64
 25  lang_fr                 3992 non-null   bool
 26  lang_en                 3992 non-null   bool
 27  lang_de                 3992 non-null   bool
 28  lang_it                 3992 non-null   bool
 29  lang_es                 3992 non-null   bool
 30  lang_pt                 3992 non-null   bool
 31  verified                3992 non-null   int64
 32  shareProfileEnabled     3992 non-null   int64
 33  lastOnlineDate          3991 non-null   object
 34  lastOnlineTime          3991 non-null   float64
 35  birthd                  3992 non-null   int64
 36  crypt                   46 non-null     float64
 37  freetext                113 non-null    object
 38  whazzup                 2399 non-null   object
 39  userId                  3992 non-null   object
 40  pictureId               3901 non-null   object
 41  isSystemProfile         2 non-null      float64
dtypes: bool(9), float64(5), int64(17), object(11)
memory usage: 1.0+ MB

In [3]:
# change invalid types 
df['gender']  = df['gender'].astype(str)
df['genderLooking']  = df['genderLooking'].astype(str)
df['country']  = df['country'].astype(str)
df['city']  = df['city'].astype(str)
df['location']  = df['location'].astype(str)
df['name']  = df['name'].astype(str)
df['freetext']  = df['freetext'].astype(str)
df['whazzup']  = df['whazzup'].astype(str)
df['userId']  = df['userId'].astype(str)
df['pictureId']  = df['pictureId'].astype(str)

In [4]:
# find the percentage of null values each colum
df.isnull().mean()*100

gender                     0.000000
genderLooking              0.000000
age                        0.000000
name                       0.000000
counts_details             0.000000
counts_pictures            0.000000
counts_profileVisits       0.000000
counts_kisses              0.000000
counts_fans                0.000000
counts_g                   0.000000
flirtInterests_chat        0.000000
flirtInterests_friends     0.000000
flirtInterests_date        0.000000
country                    0.000000
city                       0.000000
location                   0.000000
distance                   1.152305
isFlirtstar                0.000000
isHighlighted              0.000000
isInfluencer               0.000000
isMobile                   0.000000
isNew                      0.000000
isOnline                   0.000000
isVip                      0.000000
lang_count                 0.000000
lang_fr                    0.000000
lang_en                    0.000000
lang_de                    0.000000
lang_it                    0.000000
lang_es                    0.000000
lang_pt                    0.000000
verified                   0.000000
shareProfileEnabled        0.000000
lastOnlineDate             0.025050
lastOnlineTime             0.025050
birthd                     0.000000
crypt                     98.847695
freetext                   0.000000
whazzup                    0.000000
userId                     0.000000
pictureId                  0.000000
isSystemProfile           99.949900
dtype: float64

In [5]:
# drop columns with very high percentages of missing data
df = df.drop(['isSystemProfile'], axis=1)
df = df.drop(['crypt'], axis=1)

In [6]:
# find mean distance
df['distance'].mean()

207.2300050684237

In [7]:
# replace null values with mean
df.loc[df["distance"].isnull(), "distance"] = df['distance'].mean()

In [8]:
# find most common dates
df['lastOnlineDate'].value_counts()

2015-04-07T00:08:59Z    7
2015-04-06T14:23:52Z    7
2015-04-19T08:37:52Z    6
2015-04-05T07:13:49Z    6
2015-04-06T16:02:55Z    5
                       ..
2015-04-06T16:03:19Z    1
2015-04-26T09:37:25Z    1
2015-04-26T11:41:36Z    1
2015-04-19T23:59:22Z    1
2015-04-19T11:00:59Z    1
Name: lastOnlineDate, Length: 3470, dtype: int64

In [9]:
# replace null values with common date
df.loc[df["lastOnlineDate"].isnull(), "lastOnlineDate"] = '2015-04-07T00:08:59Z'

In [10]:
# find most common time
df['lastOnlineTime'].value_counts()

1.428365e+09    7
1.428330e+09    7
1.429433e+09    6
1.428218e+09    6
1.428336e+09    5
               ..
1.428336e+09    1
1.430041e+09    1
1.430048e+09    1
1.429488e+09    1
1.429441e+09    1
Name: lastOnlineTime, Length: 3470, dtype: int64

In [11]:
# replace null values with common time
df.loc[df["lastOnlineTime"].isnull(), "lastOnlineTime"] = 1.428365e+09

In [12]:
# we can see that all null values are gone
df.isnull().mean()*100

gender                    0.0
genderLooking             0.0
age                       0.0
name                      0.0
counts_details            0.0
counts_pictures           0.0
counts_profileVisits      0.0
counts_kisses             0.0
counts_fans               0.0
counts_g                  0.0
flirtInterests_chat       0.0
flirtInterests_friends    0.0
flirtInterests_date       0.0
country                   0.0
city                      0.0
location                  0.0
distance                  0.0
isFlirtstar               0.0
isHighlighted             0.0
isInfluencer              0.0
isMobile                  0.0
isNew                     0.0
isOnline                  0.0
isVip                     0.0
lang_count                0.0
lang_fr                   0.0
lang_en                   0.0
lang_de                   0.0
lang_it                   0.0
lang_es                   0.0
lang_pt                   0.0
verified                  0.0
shareProfileEnabled       0.0
lastOnlineDate            0.0
lastOnlineTime            0.0
birthd                    0.0
freetext                  0.0
whazzup                   0.0
userId                    0.0
pictureId                 0.0
dtype: float64

## RANDOM FOREST REGRESSOR

In [17]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')

## Only select the Paramters we chose

In [16]:
new_df = df[['counts_kisses', 'age', 'counts_pictures', 'counts_profileVisits',
            'counts_fans', 'isOnline', 'verified', 'distance']].copy()

Partition the data

In [18]:
X   = new_df[['age', 'counts_pictures', 'counts_profileVisits',
            'counts_fans', 'isOnline', 'verified', 'distance']] #get the input features
y   = new_df['counts_kisses']              #get the target

X_train, X_test, y_train, y_test = train_test_split(X,              #the input features
                                                    y,              #the label
                                                    test_size=0.3,  #set aside 30% of the data as the test set
                                                    random_state=7 #reproduce the results
                                                   )

In [19]:
X_train = X_train.copy()
X_test  = X_test.copy()

Encode categorical feature

In [20]:
#encode the categorical feature verified
encoder = OneHotEncoder(sparse=False, handle_unknown='ignore') #drop one of the encoded verified columns
encoder.fit(X_train[['verified']])
#enc.categories_ #view the categories

X_train['verified'] = encoder.transform(X_train[['verified']])

In [21]:
#double check that its encoded
X_train.head()

,age,counts_pictures,counts_profileVisits,counts_fans,isOnline,verified,distance
3609,25,2,5580,2,0,0.0,2.4
270,25,20,10553,1,1,1.0,80.2
170,21,3,3075,15,0,1.0,138.0
3164,24,1,230,0,1,1.0,429.0
2747,19,4,488,0,0,1.0,103.0

Run the random forest regressor

In [22]:
rf = RandomForestRegressor(random_state=7)
rf.fit(X_train, y_train)

RandomForestRegressor(random_state=7)

In [25]:
#predict the labels for the test set
y_pred   = rf.predict(X_test)

print('The predicted count of kisses is: {}'.format(y_pred))

The predicted count of kisses is: [200.58   0.     2.01 ...   4.2    2.91  30.51]

In [26]:
mse = mean_squared_error(y_test, y_pred)

# Evaluate the Predictions
print('The mse of the model is: {}'.format(mse))


# Prediction accuracy
print('The accuracy of the model is: {}'.format(rf.score(X_test, y_test)))

The mse of the model is: 26127.88161068447
The accuracy of the model is: 0.7568781276988309

In [ ]:
#get the classification report for the decision tree
y_pred = rf.predict(X_test)

target_names = ['Extremely Weak', 'Weak', 'Normal', 'Overweight', 'Obesity', 'Extreme Obesity']
print(classification_report(y_test, y_pred, target_names = target_names))

The random forest regression has a relatively high accuracy. Let's tune the hyperparameters to best identify the model.